#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#include "version.hpp"
#undef APSTUDIO_READONLY_SYMBOLS

MAINICON ICON "icon.ico"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION SOLVER_IBM_VERSION_RESOURCE
	PRODUCTVERSION SOLVER_IBM_VERSION_RESOURCE
	FILEFLAGSMASK 0x3FL
	FILEFLAGS 0x0L
	FILEOS 0x4L
	FILETYPE 0x1L
	FILESUBTYPE 0x0L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "Solver-IBM contributors"
			VALUE "FileDescription", SOLVER_IBM_NAME " command-line LBM solver"
			VALUE "FileVersion", SOLVER_IBM_VERSION_STRING
			VALUE "InternalName", SOLVER_IBM_NAME
			VALUE "LegalCopyright", "(c) Dr. Moritz Lehmann"
			VALUE "OriginalFilename", SOLVER_IBM_EXECUTABLE
			VALUE "ProductName", SOLVER_IBM_NAME
			VALUE "ProductVersion", SOLVER_IBM_VERSION_STRING
			VALUE "Comments", "Altered version of " SOLVER_IBM_UPSTREAM_NAME " " SOLVER_IBM_UPSTREAM_VERSION
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1252
	END
END
